<div class="custom-container pt-4 pb-4">

    <div class="row">
      <!--MOBILE ONLY middle-->
      <div class="col-12 col-lg-6 text-center" id="mobileMiddle" style="display:none;">
          <h1 class="headings">CourseDB.golf</h1>
          <h3 class="headings">A new worldwide directory of golf courses!</h3>
          <hr>
          <p>There are 35,000 golf courses in the world. Our mission is to list as many golf courses as possible so when you are
            looking for information on courses in a specific region, you will have one site to check out and lead you to all the
            details you need. Soon we will open up “Course Reviews” so that you can see what others are saying and maybe even enter
            a review yourself.</p>

          <p>We launched in August 2019 so it will take some time to build the database but feel free to use the quick load feature
            to enter a course name, website address, country and closest major city. As time permits we will contact golf course managers
            to assist them with fully populating and maintaining their course information on CourseDB.golf.</p>

          <p>Feel free to contact us at any time for more information.</p>
      </div>
      <!--left-->
      <div class="col-12 col-lg-3 text-center" id="leftSidebar" style="border-right:1px solid lightgray; padding-top:50px;">
        <h2 class="headings">Golfers!</h2>
        <hr>

        <p>Find a Course</p>

        <p>List courses by country or major city. We are a new site but more courses are being added regularly.</p>

        <p>Feel free to use the quick load feature to help us grow our course list.</p>

        <p>We hope you find the perfect course for your next round!</p>
      </div>
      <!--middle-->
      <div class="col-12 col-lg-6 text-center" id="pcMiddle">
          <h1 class="headings">CourseDB.golf</h1>
          <h3 class="headings">A new worldwide directory of golf courses!</h3>
          <hr>
          <p>There are 35,000 golf courses in the world. Our mission is to list as many golf courses as possible so when you are
            looking for information on courses in a specific region, you will have one site to check out and lead you to all the
            details you need. Soon we will open up “Course Reviews” so that you can see what others are saying and maybe even enter
            a review yourself.</p>

          <p>We launched in August 2019 so it will take some time to build the database but feel free to use the quick load feature
            to enter a course name, website address, country and closest major city. As time permits we will contact golf course managers
            to assist them with fully populating and maintaining their course information on CourseDB.golf.</p>

          <p>Feel free to contact us at any time for more information.</p>
      </div>
      <!--right-->
      <div class="col-12 col-lg-3 text-center" id="rightSidebar" style="border-left:1px solid lightgray; padding-top:50px;">
          <h2 class="headings">Course Managers!</h2>
          <hr>

          <p>List your course</p>

          <p>Use quick load to get started with basic information then use “Create a Free Course Listing” to create an account with us and get access to our Course Admin tools.</p>

          <p>These tools will allow you to create a listing for one or more courses that you are currently responsible
            for. Once a listing is created, you upload your own text, photos, links and promo images then maintain your listing
            so golfers always have your latest information.</p>

          <p>Contact us to help you optimize your free listing so it is the best representation of your course possible!</p>
      </div>

    </div><!--end main row-->


</div>


