<div class="custom-container text-center pt-4 pb-4">

  <h1>Contact Us</h1>
  <hr>
  <section>
    <br>
    <p>CourseDB.golf is owned and operated by ClubEG.golf in Ottawa, Ontario, Canada</p>
    <br>
    <p>If you have any questions or suggestions at all please email us at <a href="mailto:info@CourseDB.golf">info@CourseDB.golf</a></p>
    <br>
    <div style="width:100%;" class="text-center">
        <a style="width:20%;" href="https://clubeg.golf" class="mx-auto d-block">
          <img class="img-fluid" src="../../assets/logo.png">
        </a>
    </div>
  </section>

</div>
