.infoBoxes{
    min-height:100px;
    padding-top:15px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    background-color:#4d648d;
    border:1px solid #283655;
    color:white;
}